*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    background-color: #0d0d0d;
    color: white;
}
h1{
    text-align: center;
    margin: 30px;
     font-size: 60px;
    color: #f505ad;
    text-shadow: 2px 2px 5px #8f6262;   
}
h1:hover{
    color:fuchsia;
    text-shadow: 2px 2px 4px #333;
    text-decoration: dotted underline;
    cursor: pointer;
    animation: colorchange 1s infinite;
   /* transition: all 0.3s ease-in-out;*/

}
@keyframes colorchange{
    0%{color: #f59505; }
    50%{color: rgb(10, 10, 137)}
    100%{color: #f505ad}

}
header{
    position: sticky;
    top:0px ;
    background-color: #080808;
    z-index: 1;
    padding: 1rem 0rem;
}
.Hero {
    width: 750px;
    min-height: 600px;
    height:auto;
 
   /* overflow-y: auto;    vertical scroll */
 /* overflow-x: hidden;   horizontal scroll */
    border: 5px solid salmon;
   margin: 300px auto;
   position: relative;
   bottom:280px;
   padding-bottom:50px;
    & h1{
      font-size: 30px;
      color: white;
      text-shadow: 2px 1px 3px rgb(6, 6, 255);
    }

    & #taskInput{
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        margin-left: 160px;
        
    }
    & .btn{
        padding: 5px;
        font-size: 15px;
        font-weight: 700;
        padding: 5px 20px 5px 10px;
    position: relative;
    left: 10px;
       

    }
    
}
.todoContainer .todo{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color:darkblue;
    padding: 10px;
    margin: 15px;
    border:3px solid white;

    & p{
        font-size: 25px;
        
    }
}
.savebtn {
    display:none;
}
